* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(65, 65, 65, 0.1);
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}



/* NAVBAR */
#navbar a {
  color: black;
}

#navbar a:hover {
  color: red;
}

#navbar {
  font-weight: bolder;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}


.comeback {
  width: 100%;
  margin-bottom: 0.5rem;
}

.comeback a {
  text-decoration: none;
  color: #000;
}

.comeback a:hover {
  color: red;
}

/* APRESENTÇÃO PRENSA ENFARDADEIRA */
.container-pai {
  display: flex;
  flex-direction: column;
  padding: 10em 5em 0em;
  justify-content: center;
  align-items: center;
}


.container-enfardadeira {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: white;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.container-enfardadeira img {
  flex: 30%;
  padding-top: 2rem;
  width: 500px;
  height: 500px;
}

/* FICHA TECNICA */

section .conteudo {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 15px;
  padding: 20px;
  width: 600px;
  border-radius: 5px;
}

.conteudo h1 {
  font-size: 22px;
}

.conteudo p {
  font-size: small;
  opacity: 0.8;
  margin-top: 5px;
}

.conteudo span {
  background-color: red;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.conteudo a {
  text-decoration: none;
  background-color: #302f2f;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transform: 0.5;
}

.conteudo a:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

.list-descrition ul, li {
  color: #7a7a7a;
  font-size: 15px;
}


/* DESCRIÇÃO DO PRODUTO */
.container__descricao__info {
  display: flex;
  width: 100vw;
  padding: 1rem 0rem 2rem 2rem;
  height: auto;
}

.description {
  width: 52%;
}

.info-vendedor {
  width: 45%;
  margin: 0rem 0rem 0rem 1.5rem;
  padding: 2rem;
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}




/* INFORMAÇÃO DO VENDEDOR */

.info-vendedor h2 {
  font-size: 18px;

}

/* PRODUTOS RELACIONADOS */

.title-product-relacionados {
  width: 90vw;
  margin: 1rem 5rem;
}


/* SLIDE */

.container__carousel {
  margin: 1rem 5rem;
}


.card {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 16px;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.card img {
  width: 100%;
  height: 270px;
}

.card-body h3 {
  font-size: 14px;
  font-weight: bold;
}

.card-body a {
  display: flex;
  background-color: #171717;
  padding: 5px;
  width: 150px;
  margin-top: 5px;
  border-radius: 18px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 600;

  justify-content: center;
}

.card-body a:hover {
  background-color: red;
}

.swiper-navBtn {
  color: #f00;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #171717;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 20px;
}


/* MODO RESPONSIVO CELULAR */

@media (max-width: 768px) {

  .comeback{
    width: 90vw;
    margin: 0;
    border: #000 solid 2px;
  }

  .container-pai {
    width: 100vw;
  }

  .container-enfardadeira {
    width: 90vw;
  }

  .container-enfardadeira img {
    width: 100vw;
  }

  .container__descricao__info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 1rem;
  }

  .description {
    width: 90vw;
  
  }

  .description h2{
    font-size: 26px;
  }

  .description p{
    width: 70vw;
    font-size: 14px;
  }

  .info-vendedor{
    width: 80vw;
    margin: 0;
    padding: 1rem;
  }

  .title-product-relacionados{
    margin: 1rem 0rem;
    width: 100vw;
  }

  .title-product-relacionados h3{
    text-align: center;
  }

}





  /* FOOTER TOP */
  #footer {
    padding: 3em 2em;
  }

  #footer-top {
    margin-bottom: 2em;
  }

  #footer-top,
  #footer-top i {
    color: #fff;
  }

  #social-icons {
    text-align: right;
  }

  #social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
  }

  #social-icons i:hover {
    color: #7a7a7a;
  }

  /* FOOTER DETAILS */
  #footer-details {
    margin-bottom: 3em;
  }

  #news-container,
  #contact-container,
  #links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
  }

  #footer-details h4 {
    color: #fff;
    margin-bottom: 1.5em;
  }

  #news-container input {
    border-radius: 0;
    border: none;
  }

  #links-container li {
    margin-bottom: 0.5em;
  }

  #links-container a {
    text-decoration: none;
  }

  #links-container a:hover {
    color: #fff;
  }

  /* INFO */
  #info-content {
    margin-bottom: 4em;
    padding: 4em 1em;
  }

  #info-numbers {
    margin: 1.5em 0;
  }

  #info-banner {
    align-items: center;
    display: flex;
    margin-bottom: 2.5em;
  }

  #info-numbers h3 {
    font-size: 3em;
  }

  @media (min-width: 768px) {
    #info-content {
      padding: 3.5em;
    }
  }

  /* FOOTER BOTTOM */
  #footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
  }

  #footer-bottom i {
    color: white;
  }

  @media (min-width: 768px) {
    #news-container {
      padding-right: 2em;
    }

    #contact-container {
      padding: 0 2em;
      border-left: 1px solid #7a7a7a;
      border-right: 1px solid #7a7a7a;
    }

    #links-container {
      padding-left: 2em;
    }
  }