* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-primary-color {
  background-color: #fff;
}

.card-content{
  display: flex;
  align-items: center;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

/* NAVBAR */
#navbar a {
  color: black;
}
#navbar a:hover {
  color: red;
}
#navbar {
  font-weight: bolder;
}
.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}
.nav-item1 {
  border-bottom: solid;
}

/* SLIDER */
#slider {
  margin-top: 6.5em;
  margin-bottom: 1em;
}
#slider .corousel-caption {
  bottom: 3em;
}


#slider .carousel-caption h5 {
  font-size: 2.5em;
  text-shadow: #000 2px 2px;
}
.btn {
  border-radius: 10px;
}
.btn:hover {
  background-color: red;
  color: black;
  font-weight: bolder;
}
#slider.btn {
  padding: 0.3 0.8em;
  font-size: 2.5em;
  margin-top: 1em;
}
.carousel-control-prev i,
.carousel-control-next i {
  color: black;
  font-size: 3em;
}
.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}
.carousel-indicators .active {
  background-color: black;
}
@media (min-width: 768px) {
  .img-carousel {
    height: 500px;
  }
  #slider .carousel-caption {
    bottom: 15em;
  }
  #slider .carousel-caption h5 {
    margin-top: 100px;
    font-size: 4em;
    text-shadow: #000 2px 3px;
  }
  #slider .btn {
    padding: 0.6em 1.6em;
    font-size: 1.2em;
    margin-top: 1em;
  }
  .carousel-indicators {
    bottom: 7em;
  }
}


/* MINI BANNERS */
#mini-banners {
  margin-bottom: 4em;
}

#mini-banners .card {
  padding: 2em 0.3em;
  border-radius: 15px;
}

#mini-banners i {
  font-size: 4em;
}

#mini-banners .card-title {
  margin-bottom: 1.5em;
}

#mini-banners .btn {
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}

#mini-banners .card {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  #mini-banners {
    margin-top: -6em;
  }
}
/* DESTAQUES */
#featured-container {
  margin-bottom: 4em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title:before {
  width: 75px;
  border-top: 4px solid red;
  content: "";
  position: absolute;
  bottom: 2em;
}

#featured-images {
  margin-top: 2em;
}

#featured-images .col-md-4 {
  position: relative;
  cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content {
  opacity: 0.8;
}

#featured-images .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.5s;
}
#featured-images .banner-content {
  opacity: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.4em;
  }

  .title:before {
    bottom: 1.5em;
  }

  #featured-images .banner-content {
    opacity: 0;
  }
}

/* Depoimentos */
.slide-container {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #EBEBEB;
  padding: 40px;
  
}
.slide-content {
  margin: 0px 40px;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #efefef;
  padding: 3px;
}
.card-wrapper{

}
.card-depoimentos {
  width: 320px;
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0 ;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 25px 25px 0 25px;
}
.card-depoimentos{
  margin: 10px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: black;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: white;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid black;
}
.name {
  font-size: 18px;
  font-weight: bolder;
  color: #333;
}
.description {
  font-size: 14px;
  text-align: center;
}
@media (min-width: 768px) {
  .card-wrapper{
    display: flex;
  }
  }
/* PRODUTOS RELACIONADOS */
.produtos-relacionados {
  width: 98%;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  justify-content: space-between;
  background: transparent;
}*/

/* CARROSEL DE PRODUTOS */
.slide-wrapper {
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;

}

.slide-list {
  width: 98vw;
  display: flex;
  padding: 10px;
  gap: 5px;
  overflow-x: auto;
  background: transparent;

}
.slide-list::-webkit-scrollbar{
  display: none;
}

.slide-content{
  background-color: #fff;
  min-width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px 10 10px 10px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  align-items: center;
}


.slide-content img{
  width: 170px;
}
.stars{
  display: flex;
}
.star{
  width: 20px;
}

.slide-description h3{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.slide-description p{
  font-size: 13px;
  color:#302f2f;
  text-align: center;
}



.slide-nav-button{
  color: #000;
  border: none;
  font-size: 36px;
  background: transparent;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.slide-nav-previous {
  left: 10px;
}

.slide-nav-next {
  right: 10px;
}

.slide-controuls{
  display: flex;
  justify-content: center;
  padding:5px;
  margin: 20px auto 0;
}

.slide-controul-button{
  color: #000;
  background: transparent;
  font-size: 12px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.slide-controul-button.active{
  color: red;
}

/* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}
/* INFO */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}
/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: white;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}
