* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
/*RESPONSIVO*/
@media (min-width: 768px) {
  section {
    height: 100%;
    width: 100%;
  }
  main {
    width: 100%;
    height: 100%;
  }
  .card {
    height: 50vh;
  }
  .images {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .images2 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .vantagens {
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .vantagens {
    width: 100vh;
  }
  .fotos #carouselExampleControls {
    height: 45vh;
    width: 150vh;
    margin: 2vh;
  }
  .fotos #carouselExampleControls img {
    height: 45vh;
    width: 150vh;
    margin: 2vh;
  }
  .prensescontent #carouselExampleControls {
    height: 45vh;
    width: 150vh;
    margin: 2vh;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .prensescontent #carouselExampleControls img {
    height: 45vh;
    width: 150vh;
    margin: 2vh;
  }
  .images2 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .vantagens {
    margin-top: 20vh;
  }
  .prensescontent h4 {
    border-bottom: solid 1px black;
    width: 10vh;
  }
}
/*BODY*/

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

/* NAVBAR */
#navbar a {
  color: black;
}

#navbar a:hover {
  color: red;
}

#navbar {
  background-color: white;
  font-weight: bolder;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

.nav-item1 {
  border-bottom: solid;
}

/*MAIN-CONTEUDO*/
section {
  height: 100%;
}
.content {
  margin-top: 50vh;
  height: 100%;
}
.card {
  box-shadow: 1px 2px 15px;
  margin: 20px;
  height: 50vh;
}
.card h5 {
  text-align: center;
  font-size: 2em;
}
.content h1 {
  color: black;
  text-align: center;
  border-radius: 10px;
}
.fotos h3 {
  font-size: 3em;
} 

#carouselExampleControls {
  height: 50vh;
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 20vh;
}
#carouselExampleControls img {
  border-radius: 20px;
  height: 50vh;
}
.prensescontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; 
  
}
.prensescontent img {
  display: grid;
  padding: 5px;

  width: 30vh;
}
.fotos h3 {
  font-size: 2em;

  color: black;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
}
.prensescontent h4 {
  color: black;
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding: 10px; 
  margin-top: 10vh;
}

.vantagens h2 {
  background-color: #050505;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
} 
.vantagens {
  margin-top: 5vh;
}

/* FOOTER TOP */
#footer {
  padding: 3em 2em;
  margin-top: 120vh;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top #footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}

/* INFO */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}

/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: white;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}
