* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}
/* NAVBAR */
#navbar {
  background-color: white;
}
#navbar a {
  color: black;
}
#navbar a:hover {
  color: red;
}
#navbar {
  font-weight: bolder;
}
.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}
.nav-item1 {
  border-bottom: solid;
}
main {
  height: 100vh;
  margin-top: 200px;
}
section {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 70vh;
}
.content img {
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px 40px;
}

.content h1 {
  text-align: center;
  background-color: #050505;
  border-radius: 10px;
  color: white;
  font-size: 3em;
}

.content p {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.content img {
  height: 300px;
  margin: 40px;
  border-radius: 20px;
}
button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
  margin: 10px;
  font-size: 10px;
  text-transform: uppercase;
  transition: 1.05s;
}

button:hover {
  transform: scale(1.05);
  background-color: red;
  /*ANIMAIONS*/
}

.texts {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

/* FOOTER TOP */

#footer {
  background-color: black;
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */

#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}
/* INFO */

#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}

/* FOOTER BOTTOM */

#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: white;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}
