* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*RESPONSIVO*/
@media (min-width: 1025px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #carouselExampleFade {
    height: 40vh;
    width: 100%;
  }
  #carouselExampleFade img {
    height: 40vh;
     
  }
  .texsec {
    margin-top: 20vh;
    display: flex;
    height: 100vh;
  }
  .text {
    margin-top: 1vh;
    width: 80vh;
    margin-left: 2vh;
  }

  .text h1 {
    border-bottom: 2px solid black;
  }
  .ftssec img {
    height: 70vh;
    width: 50vh;
    border-radius: 2vh; 
    margin-bottom: 35vh;
  }
  .text button {
    border: 2px solid black;
    padding: 1vh;
    width: 20vh;
    background-color: white;
    border-radius: 1vh;
    align-items: end;
  }
  .text button:hover {
    background-color: black;
    color: white;
  }
  .btn {
    display: flex;
    width: 100%;

    justify-content: end;
  }
}
/*RESONSIVO~TERMINO*/
.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}
/* NAVBAR */
#navbar {
  background-color: white;
}
#navbar a {
  color: black;
}
#navbar a:hover {
  color: red;
}
#navbar {
  font-weight: bolder;
}
.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}
.nav-item1 {
  border-bottom: solid;
}
/*MAIN*/

.ftssec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#carouselExampleFade {
  margin-top: 20vh;
  margin-bottom: 5vh;
}

.text {
  padding: 2vh;
  margin-top: 2vh;
}
.btn button {
  padding: 1vh;
  width: 20vh;
  border: 2px solid black;
  background-color: white;
  color: black;
  border-radius: 1.5vh;
}
.text button:hover {
  background-color: black;
  color: white;
}
.ftssec img {
  height: 40vh;
  width: 80%;
  border-radius: 2vh;
}

/* FOOTER TOP */
#footer {
  margin-top: 10px;
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}

/* INFO */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}

/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: white;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}
