* {
  font-family: "Lato", sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}
/* NAVBAR */
#navbar a {
  color: black;
}
#navbar a:hover {
  color: red;
}
#navbar {
  font-weight: bolder;
}
.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

/*MAIN---->CONTREUDO*/

main {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 600px;
  height: 100px;
}
main section h1 {
  color: black;
  font-size: 44px;
  font-weight: bold;
  margin: 50px;
  color: #ec4543;
}
main .box-card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.419);
  clip-path: circle(50% at center right);
}
.content-box {
  margin-left: 200px;
  width: 600px;
}
.box-card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 50px;
  margin-top: 600px;
}
.box-card h1 {
  font-size: 3em;
  margin: 30px auto;
  text-align: center;
  font-weight: 20px;
  color: black;
}
.content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
}
.card {
  min-height: 220px;
  width: 320px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin: 10px 4px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 2);
  transition: 1.2s;
}
.card h2 {
  margin-bottom: 12px;
  font-weight: 400px;
  text-align: center;
}
.card p {
  color: #686868;
  text-align: center;
}
.card button {
  color: black;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  box-shadow: 1px 3px 7px black;
  display: block;
  background-color: #3c3c3c;
  color: white;
  transition: 1.2s;
}
.card button:hover {
  background-color: #3f3f3f;
  color: rgb(255, 255, 255);
  transform: scale(1.08);
}
.card:hover p {
  color: rgb(255, 255, 255);
}
.card:hover h2 {
  color: white;
}
.card:hover {
  background-color: #7a7a7a;
  transform: scale(1.03);
}

main .card img {
  height: 70px;
  cursor: pointer;
}
main .card a {
  text-decoration: none;
  color: #050505;
  transition: 1.4s;
}
main .card a:hover {
  transform: scale(1.1);
}
/*RESPONSIVE*/
@media (max-width: 768px) {
  .box-card {
    padding: 25px;
    flex-direction: column;
    width: 100%;
  }
  .card {
    min-width: 100px;
    margin: 10px auto;
  }
}

/* FOOTER TOP */

#footer {
  padding: 3em 2em;
  margin-top: 1200px;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */

#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}
/* INFO */

#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}

/* FOOTER BOTTOM */

#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: white;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}
