* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*RESPONSIVO*/
@media (min-width: 768px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2vh;
  }
  #carouselExampleFade {
    width: 100%;
    margin-bottom: 10vh;
  }
}
@media (min-width: 1280px) {
  .content {
    display: flex;
  }

  .text {
    width: 70vh;
    height: 50vh;
    margin-left: 2vh;
  }
  .content img {
    width: 70vh;
  }
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}
/* NAVBAR */
#navbar {
  background-color: white;
}
#navbar a {
  color: black;
}
#navbar a:hover {
  color: red;
}
#navbar {
  font-weight: bolder;
}
.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}
.nav-item1 {
  border-bottom: solid;
}
/*MAIN*/
#section01 {
  margin-top: 30vh;
}
.text {
  padding: 10px;
}
.text h1 {
  text-align: center;
  font-size: 2.2em;
  border-bottom: 2px solid rgb(107, 107, 107);
}

.text p {
  font-size: 1.2em;
}

.content img:hover {
  transform: scale(1.03);
}

.content {
  margin: 0 0.5rem;

  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.content {
  margin-top: 5vh;
  border-radius: 10px 60px;
  width: 100%;
  margin-bottom: 10vh;
}

.content img {
  height: 30vh;
}

.img img {
  padding: 2vh;
  transition: 1.5s;
  border-radius: 30px;
}
.img img:hover {
  transform: scale(1.02);
}

.accordion {
  margin: 10vh;
}
/* FOOTER TOP */

#footer {
  padding: 3em 2em;
  background-color: black;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */

#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}
/* INFO */

#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}

/* FOOTER BOTTOM */

#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: white;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}
