* {
  font-family: "Lato", sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}
.primary-color {
  color: #050505;
}
.secondary-color {
  color: #7a7a7a;
}
/* NAVBAR */
#navbar a {
  color:black;
}
#navbar a:hover {
  color: red;
}
#navbar{
  font-weight: bolder;
}
.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}
.nav-item1{
  border-bottom: solid ;
}



/* BANNER */
.banner-produtos img{
  width: 100%;

}

/* PRODUTOS */

.title-produtos h1{
  text-align: center;
  margin-top: 100px;

}

.container-produtos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}

.divisoria{
  width: 400px;
  border-top: solid #ddd 1px;
}

.descricao{
  color: rgb(106, 105, 105);
  font-size: small;
}

.btn-produtos{
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: rgb(34, 33, 33);

}

.btn-produtos:hover{
  color: white;
  background-color: red;
  transition: 0,9s;
}

.conteudo-prensa h2{
  font-size: 1.5em;
}

/* BOX-1*/
.box1{
  display: flex;
  width: 700px;
  margin-left: 50px;
  margin-top: 40px;
  height: 300px;
  border-radius: 50% 0 0 50%;
  border-left: 15px solid red;
  align-items: center;
}


.image img{
  width: 170px;
  margin-left: 100px;
}

/* BOX-2 */
.box2{
  display: flex;
  width: 700px;
  margin-left: 50px;
  margin-top: 40px;
  height: 300px;
  border-radius: 50% 0 0 50%;
  border-left: 15px solid red;
  align-items: center;
}

.image img{
  width: 170px;
  margin-left: 100px;
}

/* BOX-3 */
.box3{
  display: flex;
  width: 700px;
  margin-left: 50px;
  margin-top: 40px;
  height: 300px;
  border-radius: 50% 0 0 50%;
  border-left: 15px solid red;
  align-items: center;
}

.image img{
  width: 170px;
  margin-left: 100px;
}





@media (max-width: 768px) {

  .title-produtos{
    width: 100vw;
    padding: 1rem;
  }
  .container-produtos{
    width: 100vw;
    
    
  }

  .box1{
    border-left: 10px solid red;
    border-radius: 50% 0 0 50%;
    width: 100vw;
    height: 35vh;
    margin-left: 1rem;
  }


  .title-produtos{
    width: 100vw;
  }

  .image{
    width: 35vw;
  }


  .image img{
    width: 150px;
    height: 150px;
    margin-left: 1rem;
    margin-right: 0;
  }

  .conteudo-prensa{
    /* border: solid rebeccapurple 2px; */
    width: 50vw;
  }

  .conteudo-prensa h2{
    font-size: 11px;
  }

  .divisoria{
    width: 50vw;
  }

  .descricao ul{
    border: solid 2px red;
    width: 20vw;
    margin: 0;
  }

  .descricao li{
    font-size: 11px;
    /* border: solid firebrick 2px; */
    width: 40vw;
  }

  .btn-produtos{
    background-color: rgb(34, 33, 33);
    font-size: 11px;
  }

  #jacare img{
    width: 150px;
    margin: 0;   
  }

  /* BOX 2 */
  .box2{
    border-left: 10px solid red;
    border-radius: 50% 0 0 50%;
    width: 100vw;
    height: 35vh;
    margin-left: 1rem;
  }

  .box3{
    border-left: 10px solid red;
    border-radius: 50% 0 0 50%;
    width: 100vw;
    height: 35vh;
    margin-left: 1rem;
  }
}



/* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}
/* INFO */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}
/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: white;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
} 