* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*RESPONSIVO*/

@media (min-width: 769px) {
}
.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}
.menu-spacing {
  height: 65px;
}
@media (min-width: 1280px) {
  main {
    display: flex;
    height: 60vh;
    align-items: center;
  }
  #sec01 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vh;  
    
    
  }
  #sec02 {
    width: 90vh;
  }
  .form {
    height: 5vh;
  }
  .form input {
    width: 60vh;
  } 
  .text h1{
    margin-top: 20vh;
  }

  .indice {
    height: 600vh;
  }
  .text h1 {
    font-size: 4em;
    font-weight: bold;
  }
  .indice h2 {
    font-size: 3em;
    margin: 2vh;
  }
  .indice ul {
    line-height: 10vh;
  }
}

/* NAVBAR */
#navbar a {
  color: black;
}
#navbar a:hover {
  color: red;
}
#navbar {
  font-weight: bolder;
}
.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}
/*MIAN*/
main {
  height: 100%; 
 
  

}
#sec01 {
  height: 100vh;
  margin: 2vh;
  margin-bottom: 30vh;

  border-radius: 2vh;
}
#sec02 {
  margin: 1vh; 

}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:155vh;
  border-radius: 2vh; 
 
  
}

.text h1 {
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 3em;
  margin-left: 10vh;
  padding: 2vh; 
  
}

.text p {
  text-align: center;
  padding: 1vh;
}
.form input {
  margin: 1vh;
  padding: 3vh;
  height: 6vh;
  border-radius: 1vh;
  background-color: rgb(255, 255, 255);
  border: none;
  border-bottom: 1px solid black;
}

.form button {
  padding: 2vh;
  border-radius: 2vh;
  background-color: #050505;
  color: white;
  border: none;
  margin: 2vh;
}

.form button:hover {
  background-color: red;
}

.indice {
  padding: 5vh;
  border-radius: 3vh;
  background-color: #212121;
  height: 60vh;
}
.indice {
  color: white;
}
.indice img {
  height: 5vh;
}
.indice ul {
  list-style: none;
}

/* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}
/* INFO */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}
/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: white;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}
