* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
/*RESPONSIVO*/ 

@media (min-width: 769px ){
  
  
}
.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}
.menu-spacing {
  height: 65px;
}

/* NAVBAR */
#navbar a {
  color: black;
}
#navbar a:hover {
  color: red;
}
#navbar {
  font-weight: bolder;
}
.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 200px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}
/*MIAN*/
main {
  height: 210vh;
}
#sec01 {
  height: 80vh;
  margin: 2vh;
  margin-top: 30vh;
  border-radius: 2vh;
  box-shadow: 1px 2px 14px black;
}
#sec02 {
  height: 55%;
  margin: 2vh;
  box-shadow: 1px 2px 14px black; 
  border-radius: 10vh  2vh;
}
 

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  border-radius: 2vh;
  background: rgb(64, 64, 64);
  background: linear-gradient(
    0deg,
    rgba(64, 64, 64, 1) 5%,
    rgba(0, 0, 0, 1) 46%,
    rgba(0, 0, 0, 1) 100%
  );
}

.text h1 {
  color: white;
  border-bottom: 2px solid rgb(253, 0, 0);
  font-size: 3em;
  margin-left: 10vh;
  padding: 2vh;
}

.text p {
  color: white;
  text-align: center;
}
.form input {
  margin: 1vh;
  padding: 3vh;
  height: 6vh;
  border-radius: 1vh;
  background-color: rgb(94, 94, 94);
  border: none;
} 
input:hover{
  border: none;
}
input::placeholder {
  color: white; 
  border: none;
}
.form button {
  padding: 2vh;
  border-radius: 2vh;
  background-color: #050505;
  color: white;
  border: none;
  margin: 2vh;
} 


.form button:hover{ 
  background-color: red;

}
.circle {
  background-color: black;
  height:20vh;
  width: 20vh;
  border-radius: 20vh;
  box-shadow: 1px 3px 10px black; 
  
}
.indice {
  padding: 5vh;
}
/* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}
/* INFO */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}
/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: white;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}
